/**** Sassy styles authored by: Eric Nation - 6/2/2014 ******/
/****** BASICS *********/
html {
  height: 100%;
}
html body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  line-height: 1.6em;
  background: white;
}

body {
  position: relative;
  min-height: 100%;
  padding-bottom: 150px;
  box-sizing: border-box;
}

a {
  color: #378bd4;
  text-decoration: none;
}
a:hover {
  color: #666666;
  text-decoration: none;
}

.page-wrap {
  margin-bottom: -150px;
  min-height: 100%;
}
.page-wrap::after {
  content: "";
  display: block;
  height: 150px;
}

/***** HELPER CLASSES *****/
.center {
  margin: 0 auto;
  text-align: center;
}

img {
  max-width: 100%;
}

.fRight {
  float: right !important;
}

.fLeft {
  float: left !important;
}

/***** GRID *****/
.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 10px 15px;
}

.one-third {
  float: left;
  width: 33%;
}

/***** NAVIGATION ******/
nav {
  height: 45px;
  background: black;
  margin-bottom: 0px;
  width: 100%;
}
nav a {
  color: #dfdfdf !important;
}

/***** BANNER ******/
#banner {
  height: 400px;
  background: url(/img/super-hero-bg-taller.jpg) center repeat-x;
  margin-bottom: 35px;
  display: block;
  padding-top: 70px;
  border-bottom: 7px solid #378bd4;
}
#banner h1 {
  font-size: 4.6em;
  margin: 0px;
  color: white;
  font-family: "Lobster", cursive;
  text-shadow: 2px 2px 1px rgba(150, 150, 150, 0.89);
}

/******* MAIN CONTENT *********/
h2.subheader {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 35px;
  font-family: "Lobster", cursive;
}

h3 {
  text-align: center;
  font-style: italic;
  margin-bottom: 35px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

label {
  font-size: 1.2em;
}

.btn-wrap a.btn {
  display: block;
  margin: 50px auto;
  text-align: center;
}

.btn {
  width: 20%;
  display: block;
  text-align: center;
  margin: 0 auto;
  border: 3px solid #fff;
  color: white;
  background: #378bd4;
  cursor: pointer;
  padding: 15px 40px;
  text-transform: uppercase;
  outline: none;
  position: relative;
  margin-bottom: 35px;
  margin-top: 35px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  display: inline;
}
.btn:hover {
  background: white;
  color: #378bd4;
  border: 3px solid #378bd4;
}

#superhero {
  margin: 0 auto 70px;
}
#superhero h4, #superhero p {
  text-align: center;
  margin: 0 auto;
}
#superhero h4 {
  font-size: 1.9em;
  line-height: 2.2em;
  font-family: "Lobster", cursive;
}
#superhero h4 span {
  font-size: 2.3em;
  font-family: "Lobster", cursive;
}
#superhero p {
  font-size: 1.3em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  line-height: 30px;
}
#superhero span.alert {
  background-color: #ffab34;
  padding: 15px 40px;
  color: white;
  margin: 0 auto;
  text-align: center;
  display: block;
  width: 50%;
}
#superhero img {
  text-align: center;
  margin: 0 auto;
  display: block;
}
#superhero button.btn {
  display: block;
  position: relative;
  text-align: center;
  margin: 0 auto;
}

/******* FOOTER *********/
footer {
  background: black;
  height: 150px;
  bottom: 0;
  position: absolute;
  width: 100%;
}
footer .container {
  padding-top: 25px;
}
footer p {
  margin-top: 40px;
  color: #dfdfdf;
}

/******** RESPONSIVENESS **********/
/* BREAK POINT FOR BANNER TEXT --------*/
@media only screen and (max-width: 830px) {
  h1 {
    text-align: center;
    line-height: 70px;
  }

  h2 {
    line-height: 40px;
  }

  .btn {
    width: 70%;
  }
}
/* BREAKPOINT FOR BANNER BG IMAGE ----------- */
@media only screen and (max-width: 410px) {
  #banner {
    height: 250px;
    background: url(/img/super-hero-bg-taller.jpg) -5000px repeat-x;
    margin-bottom: 35px;
    display: block;
    padding-top: 20px;
  }

  .main-content {
    max-width: 96%;
    margin: 0 auto;
  }

  label {
    font-size: 1em;
  }

  #superhero h4 {
    line-height: 1.7em;
  }
  #superhero h4 span {
    font-size: 1.8em;
  }
  #superhero span.alert {
    width: 70%;
  }

  footer p {
    margin-top: 20px;
  }
}
